
/*-colores-*/
$primario:#253B6E;
$secundario:#449eda;
$gradiente:linear-gradient(to right, #1248c7, #449eda, #a0e3f1);
$back:lightgray;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*-------media display------*/
@media only screen and (min-width:320px){
    header h1{
        font-size: 50px; 
    }
    header h2{    
        font-size: 16px;
    }
    .nav__boton{
        font-size: 16px;
    }
    h3{
        font-size: 16px;
    }
    /*-
    main{
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    -*/
    .text{
        font-size: 16px;
    }
    .imgServ{
        width: 100%;
        height: 80px;
    }
    .textServ{
        font-size: 16px;
    } 
    footer{
        height: 150px;
        width: 100%;
    }
    .fotoInfo{
        width: 380px;
        height: 180px;
    }
    h5{       
        font-size: 25px;;
    } 
}
@media only screen and (min-width:768px){
    header h1{
        font-size: 40px; 
    }
    header h2{    
        font-size: 15px;
    }
    .nav__boton{
        font-size: 20px;
    }    
    h3{
        font-size: 20px;
    } 
    main{
        margin-left: 2%;
        margin-right: 2%;
    }
    .text{
        font-size: 20px;
    } 
    .imgServ{
        width: 100%;
        height: 110px;
    }
    .textServ{
        font-size: 25px;
    } 
    footer{
        height: 110px;
        width: 100%
    }
    .fotoInfo{
        width: 480px;
        height: 280px;
    }
    h5{       
        font-size: 35px;;
    }   
}
    @media only screen and (min-width:1024px){
    header h1{
        font-size: 60px;  
    }
    header h2{    
        font-size: 20px;
    }
    .nav__boton{
        font-size: 20px;
    }    
    h3{
        font-size: 30px;
    }
    main{
        margin-left: 8%;
        margin-right: 8%;
    }
    .text{
        font-size: 30px;
    }
    .imgServ{
        width: 100%;
        height: 220px;
    }
    .textServ{
        font-size: 35px;
    } 
    footer{
        height: 70px;
        width: 100%;
    }
    .fotoInfo{
        width: 680px;
        height: 380px;
    }
    h5{       
        font-size: 45px;;
    }      
}
/*-------barra de navegacion------*/
body::-webkit-scrollbar{
    width: 8px;    
}
body::-webkit-scrollbar-thumb{
    background-color: $secundario;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

/*-----------general--------*/
header{
    background-color: $primario;
    text-align: center;
    color: white;
    margin-bottom: 1px;
    h1{ 
        font-weight: bolder;
        text-align: center;  
    }
    h2{
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;   
        margin-bottom: 1px;
        text-align: center;
    }
}
nav{
    background-image: $gradiente;
    background-color: $secundario;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
    justify-content: center;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    li{   
        font-size: 25px;
        text-align: center;
        list-style: none;
    }
    ul ul {
        position: absolute;
        display: none;
    }
    ul ul li {
        display:flex;
        flex-direction: column; 
    }
    .nav__boton{
        color: white;
        text-align:center;
        text-decoration: none;
        text-transform: uppercase;
        transition: transform 0.5s ease;
    }
    .nav__boton:hover {
        transform: translateX(0.5em);
        cursor: pointer;
        color: $primario;
    }    
}
h3{
    background-color: $secundario;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 15px;
    display: flex;
    justify-content: center;
}   
.fotoportada{
    width: 100%;
    height: 100%;    
}
.btn-wsp{
    position: fixed;
    width: 25px;
    height: 25px;
    border-color:$primario;
    text-decoration: none;
}
.iconoWsp{
    width: 35px;
    height: 35px;
}
footer{
    color: white;   
    font-size: 16px;
    background-color: $primario;
    padding:15px;
    margin-top: 5px;   
    justify-content: space-around;
    width: 100%;
    p a{  
        color: white;
        font-size: 16px;
        text-decoration: none;
        border-style: solid;
        border-color: white;
        border-width: 5px;
        padding:1px;
    }
}
/*-----------------------------info----------------*/

.containerFoto{
    display: flex;
    justify-content:center;
}
.fotoInfo{
    border: black 2px double;
}
h5{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.inf{
    background-color:rgb(241, 243, 245);
    margin-top:45px ;
    margin-bottom: 45px;
}
.text{    
    padding: 25px;
}

/*-----------------------servicios-----------------*/
.contServ{
    width: 100%;
    height: 600px;
    border: $back 2px solid;
    margin-bottom: 25px;
    
}
.textServ{
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
/*---------------------venta-----------------*/
h4{
    font-size:28px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 25px;
}
section ul{
    background-color: $back;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 25px;
}
.articulo{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.articulo__modelo{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    list-style: none;
}
.articulo__foto{
    width: 250px;
    height: 250px;
    padding: 25px;    
    display: flex;
    align-items: center;
}
.text__articulo{
    color: black;
    text-align:center;
    font-size: 20px;
}
/*--------------------------Contacto---------------*/

.mainCont{
    background-color: $back;
}

.title-section{
    font: 40px sans-serif;
    text-decoration: underline;
}
.pDatos{
    font-size: 30px;
}
/*-Error 404-*/
#error{
    width: 100%;
    height: 600px;
    background: $back;
    text-align: center;
    font-size: 90px;
    color: black;
    padding: 20px;  
}
